[Unit]
Description=Runs map daemon to auto dl defrag maps
Wants=network-online.target
After=network.target network-online.target

[Service]
User=user
Restart=on-failure
Type=forking
ExecStart=/usr/bin/screen -dmS dlmap /home/user/dlmaps/map_daemon.sh

[Install]
WantedBy=multi-user.target
